[user]
	name = Vadim Kirilchuk
	email = vadim.kirilchuk@macys.com
[core]
	editor = vim
    excludesfile = /home/vkirilchuk/.gitignore_global
	ignorecase = true

[alias]
    lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    lg = !"git lg1"
[email]
	address = yc14vk3@macys.com
[gitreview]
	username = yc14vk3
	username = yc14vk3
[push]
	default = simple
